* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}



body {
    display: flex;
    font-family: ui-rounded;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}